<h1 class="heading">Leave Data</h1>
<div class="form-group">
    <input type="text" class="searchBar" placeholder="Search " [(ngModel)] ="searchText" >
  </div>
<div>
 <table class="table table-bordered table-striped table-hover table-sm text-center">
     <thead>
         <tr class="bg-info text-white">
         <th>S.No</th>
         <th>Start Date</th>
         <th>End Date</th>
         <th>Absence Type</th>
         <th>Type of Leave</th>
         <th>No.Of Days Absent</th>
         <th>No.Of Hours Absent</th>
         
     </tr>
     </thead>
     
     <tbody>
         <tr *ngFor='let item of items | filter: searchText; let i = index'>
             <td style="color: black"><b>{{i+1}}</b></td>
             <td style="color: black"><b>{{item.VALIDBEGIN._text}}</b></td>
             <td style="color: black"><b>{{item.VALIDEND._text}}</b></td>
             <td style="color: black;"><b>{{item.ABSENCETYPE._text}}</b></td>
             <td style="color: black"><b>{{item.NAMEOFABSENCETYPE._text}}</b></td>
             <td style="color: black"><b>{{item.ABSENCEDAYS._text}}</b></td>
             <td style="color: black;"><b>{{item.ABSENCEHOURS._text}}</b></td>
             
         </tr>
             
     </tbody>
     </table>
     </div>