.fixed {
  position: fixed;
  width: 100%;
  transition: 0.2s linear;
  top: 0px;
}

.nofixed {
  position: static;
  transition: 0.2s linear;
  top: -50px;
}
.navbar-custom {
  margin-bottom: -1px;
  overflow-x: visible;
  height: 62px;
  background-color: #E4A00D;
  z-index: 1;
}
.navbar.navbar-static{
  position: sticky;
}
.navbar-brand{
  color: white;
    font-family: "Georgia",serif;
    font-size: x-large;
}