<body>
<h1 class = "title">Profile</h1>
<div class = "profile">
  
<div class = "container">
    <div class="main-body">
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://www.kindpng.com/picc/m/78-785975_icon-profile-bio-avatar-person-symbol-chat-icon.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4></h4>
                      <p class="text-secondary mb-1">{{this.name.PERNR._text}}</p>
                      <p class="text-muted font-size-sm"></p>
                      <p class="text-muted font-size-sm" >{{this.name.ORGEH._text}}</p>
                     <!-- <button class="btn btn-outline-primary">Message</button>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{this.name.ENAME._text}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Date of Birth</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{this.name.GBDAT._text}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{this.name.STRAS._text}},{{this.name.ORT01._text}}, {{this.name.LAND._text}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Postal Code</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{this.name.PSTLZ._text}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Phone Number</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                          {{this.name.TELNR._text}}
                      </div>
                    </div>
                  
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Joining Date</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{this.name.BEGDA._text}}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Position</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{this.name.ORGEH_TXT._text}}  {{this.name.PLANS_TXT._text}}
                    </div>
                  </div>
                  

                </div>
              </div>
            </div>
          </div>
        </div>
</div>
</div>
</body>
