<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
				<div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
				<div class="contact">
					<form #loginEmpForm="ngForm" (ngSubmit)="loginSubmit(loginEmpForm.value)" novalidate>
						<h3>LOGIN</h3>
						<input id="eid" type="text" name="eid" placeholder="Employee Id" [(ngModel)]='user.eid' required>
						<input id="epass" type="password" name="epass" placeholder="Password"  [(ngModel)]='user.epass' required/>
				        <button type="submit" class="submit" [disabled]="!loginEmpForm.valid">Submit</button>
					</form>
				</div>
			</div>
			<div class="right">
				<div class="right-text">
					<h2>EMPLOYEE PORTAL</h2>
				</div>
				<div class="right-inductor"><img src="https://lh3.googleusercontent.com/fife/ABSRlIoGiXn2r0SBm7bjFHea6iCUOyY0N2SrvhNUT-orJfyGNRSMO2vfqar3R-xs5Z4xbeqYwrEMq2FXKGXm-l_H6QAlwCBk9uceKBfG-FjacfftM0WM_aoUC_oxRSXXYspQE3tCMHGvMBlb2K1NAdU6qWv3VAQAPdCo8VwTgdnyWv08CmeZ8hX_6Ty8FzetXYKnfXb0CTEFQOVF4p3R58LksVUd73FU6564OsrJt918LPEwqIPAPQ4dMgiH73sgLXnDndUDCdLSDHMSirr4uUaqbiWQq-X1SNdkh-3jzjhW4keeNt1TgQHSrzW3maYO3ryueQzYoMEhts8MP8HH5gs2NkCar9cr_guunglU7Zqaede4cLFhsCZWBLVHY4cKHgk8SzfH_0Rn3St2AQen9MaiT38L5QXsaq6zFMuGiT8M2Md50eS0JdRTdlWLJApbgAUqI3zltUXce-MaCrDtp_UiI6x3IR4fEZiCo0XDyoAesFjXZg9cIuSsLTiKkSAGzzledJU3crgSHjAIycQN2PH2_dBIa3ibAJLphqq6zLh0qiQn_dHh83ru2y7MgxRU85ithgjdIk3PgplREbW9_PLv5j9juYc1WXFNW9ML80UlTaC9D2rP3i80zESJJY56faKsA5GVCIFiUtc3EewSM_C0bkJSMiobIWiXFz7pMcadgZlweUdjBcjvaepHBe8wou0ZtDM9TKom0hs_nx_AKy0dnXGNWI1qftTjAg=w1920-h979-ft" alt=""></div>
			</div>
		</div>
	</section>
</body> -->
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body class = "mainbody">
    <div class = "imgArea">
		<h1 class="emphead">Employee Portal</h1>
	</div>
<div class="container">
	
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			
			<div class="card-header">
				<h3>Login</h3>
			</div>
			<div class="card-body">
				<form #loginEmpForm="ngForm" class="form-group login" (ngSubmit)="loginSubmit(loginEmpForm.value)" novalidate>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
							<input id="eid" type="text" class="form-control"  name="eid" placeholder="Employee Id" [(ngModel)]='user.eid' required>
						</div>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="glyphicon glyphicon-lock"></i></span>
							<input id="epass" type="password" name="epass" class="form-control"  placeholder="Password"  [(ngModel)]='user.epass' required/>  
                        </div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn1" [disabled]="!loginEmpForm.valid">Login</button>
                        <a href="#" style="color: white; margin-left: 30px;"><i class="glyphicon glyphicon-home"></i> Home</a>
					</div>
			    </form>
				
			</div>
        </div>
    </div> 
</div>   
</body>