.sidenav {
    background: #263238;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;

    .logo-container {
        display: flex;
        align-items: center;
        padding: 0.938rem 0.938rem 0 0.938rem;
        width: 100%;

        .logo {
            background: #fff;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;
        }

        .logo-text {
            margin-left: 1.5rem;
            font-size: 24px;
            font-weight: 700;
            color: #fff;
        }

        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-times {
                color: #fff;
                font-size: 24px;
            }
        }
    }
}

.sidenav-collapsed {
    width: 25.5625rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;
    font-weight: 600;
    font-size: large;
    margin-top: 3.6rem;
    

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidenav-link-text {
                margin-left: 3.5rem;
            }
        }
        .dropdown-item {
            display: block;
            width: 100%;
            padding: 1.25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: white;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            background: #263238;
            font-family: "Georgia",serif;
            /* position: absolute; */
            

        }
        .dropdown-item:hover{
            color: black;
        }
    }

    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: #fff;
            color: #263238;
        }
    }
   
    

}

.dropdown-item:hover {
    background-color: #fff;
    color: #263238;
    }


.active {
    background-color: #fff;

    .sidenav-link-icon,
    .sidenav-link-text ,.dropdown-item{
        color: #263238;
    }
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem; 
    }
}
.sidenav-link-text1{
    color: white;
    padding-left: 14px;
}
.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;

    .sidenav-nav-itemf {
        width: 100%;
        margin-bottom: 0.625rem;
    font-weight: 600;
    font-size: large;
    margin-top: 250px;
    

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 3rem;
            color: #f3f3f3;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            .sidenav-link-text {
                margin-left: 3.5rem;
            }
        }
        .dropdown-item {
            display: block;
            width: 100%;
            padding: 1.25rem 1.5rem;
            clear: both;
            font-weight: 400;
            color: white;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            background: #263238;
            font-family: "Georgia",serif;
            /* position: absolute; */
            

        }
    }

    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background-color: #fff;
            color: #263238;
        }
    }
    .sidenav-nav-item .dropdown-item:hover {
        
            background-color: #fff;
            color: #263238;
        
    }

}

.imag{
    width: 22%;
    height: 50%;
    /* padding-left: 5px; */
    margin-top: 26px;
    margin-left: 71px;
    border-radius: 3px;
}
.imag1{
    width: 59%;
    height: 5%;
    margin-top: 26px;
    border-radius: 3px;
    margin-left: 10px;
}

//hover

.sidenav-link-text1:hover{
    background-color: #fff;
    color: #263238;
}