.texth1{
    color: rgb(15, 11, 11);
    font-family: "Georgia",serif;
    font-weight: bold;
    margin-left: 90px;
    margin-top: -205px;
}
.page{
    background-image: url("https://img.freepik.com/free-vector/shared-workspace-concept-illustration_114360-5189.jpg?t=st=1657507471~exp=1657508071~hmac=5b9b78ce4861b2cf84419322867d66892553d68ae29b8f2aa9485649e1b1504e&w=1060");
    background-size: 100%;
    /* padding: 326px; */
    padding-top: 300px;
    padding-bottom: 393px;
    margin-left: -30px;
    margin-top: -49px;
    margin-right: -30px;
}
